img{
  height: 100px;
  width: 190px;
}

h1{
  margin-top: 20px;
  text-align: center;
}
Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  height: 100%;
  margin: auto;
  padding: 15px;
}
.ProdName{
  margin-left: 5px;
}
.ProdSpecifications{
  margin-left: 62px;
}
.ProdSpecifications2{
  margin-left: 162px;
  margin-bottom: 5px;
}

.ProdType{
margin-left: 119px;
}
.ProdCat{
margin-left: 90px;
}

.dropdown{
  margin-right: 0px;
}
.Predict-form{
  border: 2px solid black;
  background-image: url("https://images.unsplash.com/photo-1539633199291-043fdc3aba75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
   box-shadow: 9px 9px 9px;
}

